h2 {
  margin-bottom: 12px;
}


/**
Home Header
**/

section.home {
    margin-top: -20px;
    background: url(https://unsplash.it/1280/960?random) center no-repeat fixed #00b4f1;
    background-size: cover;
    max-height: 600px;
    height: 550px;
    padding: 95px 0;
    header {
        text-align: center;
        background-color: rgba(0,0,0,.25);
        box-sizing: border-box;
        padding: 25px;
        height: 360px;
        h1 {
            margin-top: 100px;
            font-size: 5em;
            font-weight: 500;
            color: white;
        }
    }
}

.home-subhead {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

h3.bb-section-heading {
    text-align: center;
}

h5.bb-section-subheading {
  text-align: center;
  font-weight: normal;
}

h1.page-header {
    border-bottom: 1px solid black;
    padding-bottom: 5px
}

.ex-description {
    font-size: 16px;
    margin-top: 15px;
    &::before {
        content: 'Description: ';
        font-weight: bold;
    }
}

.ex-image {
    border: 2px solid black;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
}

.do-expertise {
    font-size: 16px;
    font-style: italic;
    &::before {
        content: 'Expertise: ';
        font-weight: bold;
    }
}

.well {
    margin-top: 15px;
}

.btn {
    margin-top: 10px;
}

.panel-image {
  overflow:hidden;

  @media (min-width: 768px) {
    height: 100px;
  }

  @media (min-width: 992px) {
    height: 147px;
  }
}
