<div>
  <bb-carousel bb-carousel-style="card-large">
    <bb-carousel-item ng-repeat="beacon in beaconsCtrl.beacons">
      <bb-card bb-card-size="large">
        <bb-card-title>{{beacon.name}}</bb-card-title>
        <bb-card-content>
          <div class="bb-emphasized">
            ID
          </div>
          {{beacon.UID}}
          <div class="bb-emphasized" style="margin-top: 10px;">
            Type
          </div>
          {{beacon.beaconType}}
          <div class="bb-emphasized" style="margin-top: 10px;">
            Description
          </div>
          {{beacon.description}}
        </bb-card-content>
        <bb-card-actions>
          <button type="button" class="btn btn-primary" ui-sref="admin.exhibits({id:beacon._id})">More information</button>
          <button type="button" class="btn btn-default" ng-click="beaconsCtrl.goToEdit(beacon)">Edit</button>
        </bb-card-actions>
      </bb-card>
    </bb-carousel-item>
  </bb-carousel>
</div>
