<section class="section home section-primary" >
  <header class="container">
    <h1>Sky Beacons</h1>
  </header>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="home-subhead">Exhibits</h2>
    </div>
    <div ng-repeat="exhibit in homeCtrl.exhibits" class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="bb-section-heading panel-title">{{:: exhibit.name }}</h3>
        </div>
        <div class="panel-body">
          <div class="panel-image">
            <img class="img-responsive" ng-src="{{:: exhibit.image }}"/>
          </div>
          <button class="btn btn-primary pull-right" ui-sref="exhibit({id: exhibit._id})">View</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="home-subhead">Docents</h2>
    </div>
    <div ng-repeat="docent in homeCtrl.docents" class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="bb-section-heading panel-title">{{:: docent.name }}</h3>
          <h5 class="bb-section-subheading">{{:: docent.expertise}}</h5>
        </div>
        <div class="panel-body">
          <div class="panel-image">
            <img class="img-responsive" ng-src="{{:: docent.image }}"/>
          </div>
          <button class="btn btn-primary pull-right" ui-sref="docent({id: docent._id})">View</button>
        </div>
      </div>
    </div>
  </div>
</div>
