<div class="container" ng-if="::formCtrl.isReady">
  <div class="page-header" bb-scroll-into-view="formCtrl.scrollToTop">
    <h1 ng-if="formCtrl.formData._id">Edit {{ formCtrl.formData.name }}</h1>
    <h1 ng-if="!formCtrl.formData._id">Add Exhibit</h1>
  </div>
  <div ng-if="formCtrl.success" class="alert alert-success" ng-bind-html="formCtrl.trustHtml(formCtrl.success)"></div>
  <div ng-if="formCtrl.error" class="alert alert-danger">
    <p ng-bind-html="formCtrl.trustHtml(formCtrl.error)"></p>
  </div>
  <form name="exhibitForm" class="form-horizontal" ng-submit="formCtrl.submit()" novalidate>
    <div class="row">
      <div class="col-sm-10">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#tab-details" target="_self" data-toggle="tab">Details</a></li>
          <li role="presentation"><a href="#tab-pieces" target="_self" data-toggle="tab">Pieces</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-details">
            <div class="form-group">
              <label class="col-sm-2 control-label">
                Name:
              </label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="name" ng-model="formCtrl.formData.name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                Beacon UID:
              </label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="UID" ng-model="formCtrl.formData.UID">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                Description:
              </label>
              <div class="col-sm-10">
                <textarea class="form-control" name="description" ng-model="formCtrl.formData.description"></textarea>
              </div>
            </div>
          </div>
          <div class="tab-pane active" id="tab-pieces">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <button ng-if="formCtrl.formData._id" class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="exhibitForm.$invalid"><i class="fa fa-save"></i>Save</button>
        <button ng-if="!formCtrl.formData._id" class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="exhibitForm.$invalid"><i class="fa fa-plus"></i>Create</button>
        <button ng-if="formCtrl.formData._id" class="btn btn-danger btn-block" type="button" cc-confirm-click data-confirmed-click="formCtrl.delete()"><i class="fa fa-trash"></i>Delete</button>
      </div>
    </div>
  </form>
  <pre>{{ formCtrl.formData | json }}</pre>
</div>
